<div class="hero">  
  <br><br><br><br>
  <div class="frosty col-xs-10 col-xs-offset-1">
  <br />
    <h1>Fast-Track Your Dream Career</h1>
    <br />
    <h2>Take classes to enhance your skillsets!</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-warning' %>
    <br /><br />
  </div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="booyah-box2 col-sm-5 ">
  <h1 align="center" >Students</h1>
  <br />
  <img src="assets/student.jpg" alt="student" style="width:100%;">

    <p class="feature" align="left">
    <br /> 
      As a student, you can pick any course that interests you and learn at your own pace! Courses include one or more sections, each of which is divided into individual video lessons. Whether you only have a couple minutes to spare or a few hours, you can advance through the course material and learn on your own schedule! Course prices vary and are set by the Instructor, but keep an eye out for our specials, where you may even find the course you want for free! Happy Learning!
    </p>
  </div>

  <div class="booyah-box2 col-sm-5 col-sm-offset-2">
    <h1 align="center" >Educators</h1>
    <br />
    <img src="assets/bad_teacher.jpg" alt="student" style="width:100%;">
    <p class="feature" align="left">
    <br />
      Instructors have the ability to create courses and set the price they want to charge. All courses are video based and  consist of individual lesson videos that are generally 5-10 minutes in length. Classy will take care of student payments and assure only registered students have access to the course content. You can view all of your current courses and their content on your Teacher Dashboard by logging in and selecting the 'My Dashboard' link from the menu bar or footer. Happy Educating!
    </p>
  </div>

</div>
